<app-home-page-header></app-home-page-header>

<div class="container signup-container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 signup-form-1">
            <h3>Employee Sign Up</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name *" [(ngModel)]="emp.name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Emp Id *" [(ngModel)]="emp.id"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email *" [(ngModel)]="emp.mail"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Your Password *" [(ngModel)]="emp.pswd" (blur)="encrpt()"/>
            </div>
            <div class="form-group">
                <!-- <input type="submit" class="btnSubmit" value="Login" /> -->
                <button (click)="SignUp()" >Login</button>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>