<div class="header">
        <div class="row">
            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4">
                <img src="./assets/logo.png" alt="Logo image" class="img-fluid img-rounded w-25 mb-3"
                    (click)="loadHomePage()">
            </div>
            
            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4">
            </div>
            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4">
                <button mat-button class="upload_button btn " (click)="orderToday()" >Order now</button>
                <button mat-button class="analyze_button btn ">Analyze</button>
                <button type="button" class="logout_button btn btn-default btn-sm" (click)="logOut()" >
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>
            </div>
        </div>
    </div>














